<div class="create m3 ">
    <mat-card-content style="padding-left: 0.5rem" *ngIf="postForm">
      <div class="flex items-center justify-between mt-4 mb-6">
        <button mat-icon-button routerLink="/posts">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1 *ngIf="!onUpdate" class="font-bold !pt-4">Create a new post</h1>
        <div></div>
      </div>
      <form class="md:max-w-lg mx-auto" style="display:flex; flex-direction: column" [formGroup]="postForm" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Topic</mat-label>
          <mat-select ngDefaultControl formControlName="topicId">
            <mat-option *ngFor="let topic of topics$ | async" [value]="topic.id">
              {{topic.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Content</mat-label>
          <textarea matInput rows="8" formControlName="content"></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" type="submit" [disabled]="postForm.invalid">
            Save
          </button>
        </div>
      </form>
    </mat-card-content>
</div>
